html,
body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

header img {
    align-self: center;
}

.search {
    background-color: #006699;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: .5rem;
    border: 2px dashed darkblue;
}

.search input {
    width: 10rem;
    border-radius: 2rem;
    padding: .0625rem .5rem;
}

button {
    outline: none;
    background-color: mediumblue;
    color: white;
    padding: .25rem .5rem;
}

.intro {
    background-color: #DDE7F1;
    color: mediumblue;

}

.intro ul li {
    list-style: none;
    border-bottom: 2px solid blue;
    text-align: center;
    padding: 1rem .5rem;
    font-size: 1.25rem;
}

.intro ul li button {
    font-size: 1.5rem;
}

ul {
    margin: 0;
    padding: 0;
}

.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .75rem;
    flex-direction: column;
    margin: 1rem 0;
}

.secondary {
    background: linear-gradient(#77b300, #446600) !important;
    padding: 4px 18px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    width: 50%;
    height: auto;
    margin-block: 1rem;

}

.info .header {
    color: red;
    background: rgb(221, 231, 241);
    border: 1px solid rgb(170, 187, 204);
    font-size: 110%;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.file li {
    border-bottom: 1px #ccc solid;
    padding: 7px;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 2rem;
}

.file li span {
    color: #ff6600;
}

.info #download {
    margin: 1rem auto;
    background-image: linear-gradient(#751aff, #4700b3);
    padding: 8px 8px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 2rem;
    width: 80%;
    display: block;
}

.screenshots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.screenshots img {
    width: 80%;
    height: auto;
}

.tag,
.footer {
    margin-block: 1rem;
    background-color: #DDE7F1;
    padding: .5rem;
    font-size: 1.5rem;
}



@media screen and (max-width: 600px) {
    .poster img {
        width: 90%;
        height: auto;
    }
}